/* genel stiller */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    font:14pt arial, sans-serif;
    padding-bottom: 20px;
}

hr {
    color: rgb(235, 235, 235)
}

#footer {
    padding-top: 1em;
    font-size: 70%;
    color: gray;
    text-align: center;
}

/* mobil cihazlar için stiller */
@media only screen and (max-width: 600px) {
    html, body {
        display: block;
        height: auto;
    }
    body {
        max-width: 90%;
        margin: auto;
    }
}
